*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 22px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 15px;
}


.container1 {
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 30px;
}
.container1 img{
    width:100%;
    position: static;
}
.seperation-line{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    margin: 0 30px;
}

section{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px;
    font-size: 60px;
    gap: 12px;
}

.category{
    font-size: 45px;
    white-space: nowrap;
    overflow: visible;
    position: relative;
}

.img-grid span{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* padding: 20px; */
    margin-top: 10px;
}

span img{

    width: 100%;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    transition: transform 0.3s ease;
    margin-top: -50px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform:none;
}

.title-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.poster-section{
    /* padding: 20px; */
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%; */
    
}


/* .poster-section{
    display: flex;
    align-items: center;
    justify-content: center;
} */